<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<h:head>
	<title>Cadastro De Player</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome do Jogador:" />
			<h:inputText value="#{cadastroPlayerController.nomeJogador}" />
			<h:outputLabel value="Sobrenome Jogador:" />
			<h:inputText value="#{cadastroPlayerController.sobrenomeJogador}" />
			<h:outputLabel value="Idade Jogador:" />
			<h:inputText value="#{cadastroPlayerController.idade}" />
			<h:commandButton value="Cadastrar" />	
			</h:panelGrid>
			<p>Meu nome é: #{cadastroPlayerController.nomeJogador} #{cadastroPlayerController.sobrenomeJogador}</p>
			<p>E minha idade é #{cadastroPlayerController.idade}</p>
	</h:form>
</h:body>      
</html>